.mt-5 {
    padding-top: 5rem;
}

.footer {
    position: fixed !important;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #f5f5f5;
}

 .footer > .container {
     padding: 0 25px 0 5px;
 }

code { font-size: 80%; }

.footer a, .footer a:link {
    color: #343a40;
    text-decoration: none;
}
